<div class="footer py-8 w-full">
  <div class="container flex justify-content-between mx-auto">
    <div class="description-1 flex flex-column">
      <span class="title mb-2"> HADARA MAP </span>
      <div class="text">
        2ème étage, 4 Route de l’aéroport LSS, Avenue Mame Limamoulaye, Dakar –
        Yoff
      </div>
    </div>
    <div class="description-1 flex flex-column">
      <span class="title-custom mb-2"> Liens utiles </span>
      <div class="bottom-decoration mb-2"></div>
      <div class="text">
        <a class="no_link" href="https://www.cmtijjaaniyya.com" target="_blank">
          www.cmtijjaaniyya.com
        </a>
      </div>
    </div>
    <div class="description-1 flex flex-column">
      <span class="title-custom mb-2"> Contact </span>
      <div class="bottom-decoration mb-2"></div>
      <div class="text flex flex-column gap-3">
        <div class="flex gap-1 align-items-center">
          <i class="pi pi-envelope"></i>
          <a class="no_link no-underline" href="mailto:contact@hadaramap.com" target="_blank">
            contact&#64;hadaramap.com
          </a>
        </div>
        <div class="flex gap-1 align-items-center">
          <i class="pi pi-phone"></i>
          <a class="no_link no-underline" href="tel:+221771834242" target="_blank">
            +221 77 183 42 42
          </a>
        </div>
      </div>
    </div>
    <div class="description-1 flex flex-column">
      <span class="title-custom mb-2"> Nous suivre </span>
      <div class="bottom-decoration mb-2"></div>
      <div class="text flex gap-3">
        <p-button icon="pi pi-facebook" [rounded]="true" severity="secondary" />
        <p-button icon="pi pi-linkedin" [rounded]="true" severity="secondary" />
        <p-button icon="pi pi pi-twitter" [rounded]="true" severity="secondary" />
        <p-button icon="pi pi-instagram" [rounded]="true" severity="secondary" />
      </div>
    </div>

  </div>
</div>
