<div class="footer flex justify-content-evenly py-5 absolute bottom-0 w-full">
  <div class="description-1 flex flex-column">
    <span class="title mb-2"> HADARA MAP </span>
    <div class="text">
      2ème étage, 4 Route de l’aéroport LSS, Avenue Mame Limamoulaye, Dakar –
      Yoff
    </div>
  </div>
  <div class="description-1 flex flex-column">
    <span class="title-custom mb-2"> Liens utiles </span>
    <div class="bottom-decoration mb-2"></div>
    <div class="text">
      <a class="no_link" href="www.cmtijjaaniyya.com" target="_blank">
        www.cmtijjaaniyya.com
      </a>
    </div>
  </div>
  <div class="description-1 flex flex-column">
    <span class="title-custom mb-2"> Contact </span>
    <div class="bottom-decoration mb-2"></div>
    <div class="text flex flex-column gap-3">
      <div class="flex gap-1 align-items-center">
        <i class="pi pi-envelope"></i>
        <span class=""> contact&#64;hadaramap.com </span>
      </div>
      <div class="flex gap-1 align-items-center">
        <i class="pi pi-phone"></i>
        <span class=""> +221 77 183 42 42 </span>
      </div>
    </div>
  </div>
  <div class="description-1 flex flex-column">
    <span class="title-custom mb-2"> Nous suivre </span>
    <div class="bottom-decoration mb-2"></div>
    <div class="text flex gap-3">
      <p-button icon="pi pi-facebook" [rounded]="true" severity="secondary" />
      <p-button icon="pi pi-linkedin" [rounded]="true" severity="secondary" />
      <p-button icon="pi pi pi-twitter" [rounded]="true" severity="secondary" />
      <p-button icon="pi pi-instagram" [rounded]="true" severity="secondary" />
    </div>
  </div>
</div>
