<div class="container py-2 flex align-items-center justify-content-between">
  <span routerLink="/" class="title mr-6"> HADARA MAP </span>
  <div class="flex-1 flex justify-content-between align-items-center">
      <div class="menu-list">
        <p-button
          link="true"
          label="Accueil"
          [rounded]="true"
          severity="success"
          [text]="true"
          styleClass="selected"
        />
        <p-button
          link="true"
          label="Explorer les Hadaras"
          [rounded]="true"
          severity="success"
          [text]="true"
        />
        <p-button
          link="true"
          label="Horaires de Prière"
          [rounded]="true"
          severity="success"
          [text]="true"
        />
        <p-button
          link="true"
          label="Événements"
          [rounded]="true"
          severity="success"
          [text]="true"
        />
        <p-button
          link="true"
          label="Dons"
          [rounded]="true"
          severity="success"
          [text]="true"
        />
      </div>
      <div class="switch-lang">
        lang
      </div>

  </div>
</div>
